# 告诉编辑器这是EditorConfig配置
root = true

# 所有文件生效的规则
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# 针对特定文件的规则（比如Markdown）
[*.md]
trim_trailing_whitespace = false
